@@media screen and (min-width:1000px) {
  .bonjour{
    display: inline-flex;
    flex-direction: column;
  }
}

body {
  background:url('img/bg.png');
  font-family: 'Lato' , sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
footer {
  margin-top: 7%;
  color: white;
  text-transform: uppercase;
}
h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	color: #444;
	margin: 0;
}
h1 {
	font-size: 5em;
	line-height: 1em;
	margin-bottom: 0.3em;
}
h2 {
	font-size: 2.1em;
	margin-bottom: 2.3em;
}
h3 {
	font-size: 1.7em;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
h5 {
	font-size: 1.1em;
	margin-bottom: 0.3em;
}
a, p, div, span, li, label, input, textarea {
	font-family: sans-serif;
	color: #777;
	line-height: 1.7em;
}
nav {
	margin: 7px 0;
  padding: O;
}
nav ul {
	display: inline-block;
	margin: 12px;
  padding: 0;
}
nav li {
	display: inline-block;
	margin: 0 5px;
	text-transform: uppercase;
}
nav li a {
	padding: 6px;
	border-radius: 3px;
	font-weight: normal;
	color: #444;
  text-decoration: none;
}
nav li a:hover {
	color: white;
  background: #DB4447;
  padding: 6px;
}
em {
  background: #DB4447;
  color: white;
  padding: 4px 6px;
  line-height: 1.6;
  border-radius: 3px;
  font-style: normal;
}
blockquote {
	font-style: italic;
	font-size: 1.2em;
	margin: 30px 10%;
	position: relative;
}

#menufix {
	position: fixed;
	text-align: center;
	background: white;
  z-index: 10;
	width: 100%;
	top: 100px;
	left: 0;
	border-bottom: 1px solid #ddd;
	top: 0;
}
#menufix h4 {
	margin: 10px;
	display: inline-block;
}
.container {
  display: flex;
  justify-content: center;
  top: 10em;
  width: 70%;
  height: auto;
  position: relative;
  margin-bottom: 5%;
}

.photolm {
  display: flex;
  transform: rotate(-5deg);
  width: 35%;
}
.photolm img {
  padding: 15px;
  background: white;
  display: inline-block;
  width: 80%;
  height: 80%;
}
.ombre {
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.05);
  position: relative;
}
.bonjour {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.info {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 50%;
  padding: 5%;
  background: white;
}
.info h1 {
  font-family: 'Permanent Marker';
}
.social {
  display: flex;
  justify-content: center;
}
.social a {
  text-decoration: none;
}
.social-footer a {
  color: white;
  text-decoration: none;
}
.icons {
  color: #444;
  display: inline-block;
  padding: 30px;
}
.icons:hover {
  color: #DB4447;
}
.page {
  background: white;
  width: 95%;
  height: auto;
  padding-bottom: 5%;
}
.etiquette {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em;
  position: relative;
  left: -3em;
  background: #DB4447;
  width: 7em;
  height: 5em;
  border-radius: 0 5px 5px 0;
  display: inline-flex;
}
.etiquette :first-child{
  color: white;
}
.longshadow {
  position: relative;
  top: 7.5em;
  left: -2.9em;
  border-width: 30px 0 0 50px;
  border-style: solid;
  z-index: -1;
  display: block;
  border-color: #9A3437 transparent transparent transparent;
}
.titre-section {
	margin-top: 0;
	display: block;
	text-transform: uppercase;
  display: inline-flex;
}
.text-about {
  padding: 0 5%;
  width: 55%;
}
.icon-list{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.icon-list div{
  display: inline
}
.list-left{
  width: 50%;
}
.testimonials {
  width: 22em;
  height: auto;
}
.section {
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
}
.table {
  background: white;
  position: relative;
  border-radius: 3px;
  border: 2px solid #DB4447;
}
.table p{
  padding: 16px;
  font-size: 1.1em;
  line-height: 1.7;
  font-style: italic;
  margin: 0;

}
.header-table{
  background: #DB4447;
  padding: 5% 20%;
}
.header-table :last-child{
  padding-left: 20%;
}
.header-table h4{
  color: white;
  margin: 0;
}
.header-table div{
  color: white;
}
.triangle {
  content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: transparent transparent white transparent;
	top: 26px;
	left: 40px;
	border-width: 20px;
}
.tab-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 5em;
  padding: 0;
  border-radius: 3px;
  background: #F8F8F8;
  border: 1px solid #E4E4E4;
  margin-left: auto;
  margin-right: auto;
}
.tab-info li {
	display: inline-block;
	margin: 0 20px;
}
.tab-info h5{
	margin: 0;
	line-height: 0.5;
}
.icon-list {
  font-size: 1.2em;
  text-align: center;
}
.list-left li{
  width: 400px;
  text-align: justify;
}
.text-experience {
  padding: 0 5%;
  width: 95%;
}
.table-exp {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.date {
  padding-top: 40%;
  border-left: 1px solid #F1F1F1;
}
.info-designer {
  position: absolute;
  left: 10em;
  bottom: 10em;
  z-index: 3;
  background: #DB4447;
  width: 40em;
  height: 5em;
  border-radius: 3px;
}
.info-designer h4 {
  position: relative;
  padding: 10px;
  color: white;
}
.info-designer p {
  color: white;
  position: relative;
  bottom: 1.5em;
  left: 2.5em;
}
.info-designer span{
  color: white;
}
.info-dev {
  position: absolute;
  left: 18em;
  bottom: 18em;
  z-index: 3;
  background: #DB4447;
  width: 25em;
  height: 5em;
  border-radius: 3px;
}
.info-dev h4 {
  position: relative;
  padding: 10px;
  color: white;
}
.info-dev p {
  color: white;
  position: relative;
  bottom: 1.5em;
  left: 2.5em;
}
.info-dev span{
  color: white;
}
.courses {
  width: 50%;
  padding: 2%;
}
.formail {
  width: 50%;
  padding: 2%;
}
.college-bg {
  background: #DB4447;
}
.college-bg h3 {
  padding: 2%;
  color: white;
  font-size: 1.5em;
  margin-bottom: 2px;
}
.college-bg span {
  color: white;
}
.college-bg p {
  background: white;
  border-radius: 3px;
  padding: 2%;
  margin: 2px;
  border-bottom: 2px solid #DB4447;
}
.course-bloc {
  background: #DB4447;
  padding: 2%;
  border-radius: 3px;
  color: white;
  margin-bottom: 6px;
}
.course-bloc span{
  color: white;
}
.progressbar {
  width: 100%;
}
.pourcent {
  color: white;
}
.progress {
  height: 3em;
  color: white;
  background-color: #DB4447;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.ps {
  width: 90%;
}
.ai {
  width: 60%;
}
.ae {
  width: 50%;
}
.fl {
  width: 70%;
}
.htmlcss {
  width: 80%;
}
.portfolio {
  display: inline-block;
  margin-left: 55px;
}
.portfolio img {
  margin: 2%;
}
.input-left{
  width: 45%;
}
.input-right{
  width: 45%;
}
.input-left input{
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid #bbb;
  outline: none;
}
.input-right input{
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid #bbb;
  outline: none;
}
.infomail {
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message {
  width: 90%;
  margin-left: 40px;
}
.message input {
  width: 100%;
  height: 120px;
  margin-bottom: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid #bbb;
  margin-top: 6px;
  outline: none;
}
.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  padding: 2px;
  background: #DB4447;
  border-radius: 3px;
  margin-left: 40px;
  text-transform: uppercase;
  color: white;
  font-size: 1em;
}
